doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript').
      var userdata = !{userdata};
      $(document).ready(function() {
        $("#userdata").html(userdata.username);
        $("#addunitbutton").click(function() {
          $.ajax({
            type: 'GET',
            url: '/client',
            data: { jsonData: JSON.stringify({"command":"addunit"}) },
            dataType: 'json',
            complete: function(data) {
              var unit = data.responseJSON;
              $("#unittable").after("<tr><td>"+unit.name+"</td></tr>");
            }
          });
        });
      });
  body
    h1 Client
    div(id="userdata")
    table(id="unittable")
      tr
        td unit
    button(id="addunitbutton") add unit
    a(href="/logout") logout
