doctype html
html(lang="en")
  head
    title= pageTitle
    style(type='text/css').
      #error {
        font-size: 15px;
        color: #ff0000;
      }
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript').
      var userdata = !{userdata};
      var chattext = "";
      var battle = null;
      var interval;
      
      function ajax_request(header, data, callback) {
        $.ajax({
          type: 'GET',
          url: '/ajax',
          data: { jsonData: JSON.stringify({"header":header, "data": data}) },
          dataType: 'json',
          complete: callback,
          //error: callback({"responseJSON":{"header":"error", "data":data}})
          error: function(err) { console.log(err); }
        });
      }
      
      function create_battle() {
        ajax_request("createbattle", text, function(data) {
          console.log("The server sent some data!");
          console.log(data.responseJSON);
          if (data.responseJSON.header != "error") {
            battle = (data.responseJSON) ? data.responseJSON.data : 0;
            if (!battle) { console.log("Error: Could not parse ajax response!"); }
            else console.log("You have signed up for battle " + battle.name);
          };
        });
      }
      
      function send_message() {
        var text = $("#inputbox").val();
        $("#inputbox").val("");
        ajax_request("chattext", text, function(data) {
          console.log("The server sent some data!");
          console.log(data.responseJSON);
        });
      }
      
      function ping_server() {
        ajax_request("ping", null, function(data) {
          $("#users option").remove();
          console.log("The server sent some data!");
          console.log(data.responseJSON);
          if (data.responseJSON.header != "error") {
            var chat = (data.responseJSON) ? data.responseJSON.data : 0;
            var userlist = chat.usernames || []; //usernames
            userlist.forEach(function(username, i) {
              $("#users").append("\
                <option value=" + i + ">" + username + "</option>\
              ");
            });
            var battlelist = chat.battlenames || []; //battlenames
            battlelist.forEach(function(battlename, i) {
              $("#games").append("\
                <option value=" + i + ">" + battlename + "</option>\
              ");
            });
            var messagelist = chat.messages || []; //messages
            chattext += chat.text;
            $("#chat").val(chattext);
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
          }
          else
            console.log("There was an error communicating with the server.");
        });
      }
      
      $(document).ready(function() {
        $("#sendbutton").click(send_message);
        $("#newbattlebutton").click(create_battle);
        $("#chat").val(chattext);
        ping_server();
        interval = window.setInterval(ping_server, 5000);
      });
  body
    h1 Client
    #content
      a(href="/logout") logout
      table(id="unittable", border="1")
        tr
          td
            h3 chat
          td
            h3 users
          td
            h3 battles
        tr
          td
            textarea(id="chat" rows="10" cols="50")
          td
            select(id="users" multiple)
          td
            select(id="battles")
        tr
          td(rowspan="2")
            input(id="inputbox")
      button(id="sendbutton") send
      button(id="newbattlebutton") new battle
    #error
