doctype html
html(lang="en")
  head
    title= pageTitle
    style(type='text/css').
      #error {
        font-size: 15px;
        color: #ff0000;
      }
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript').
      var userdata = !{userdata};
      var chattext = "";
      var interval;
      
      function ajax_request(url, header, data, callback) {
        $.ajax({
          type: 'GET',
          url: url,
          data: { jsonData: JSON.stringify({"header":header, "data": data}) },
          dataType: 'json',
          complete: callback,
          //error: callback({"responseJSON":{"header":"error", "data":data}})
          error: function(err) { console.log(err); }
        });
      }
      
      function send_message() {
        var text = $("#inputbox").val();
        $("#inputbox").val("");
        ajax_request("/client", "chattext", text, function(data) {
          console.log("The server sent some data!");
          console.log(data.responseJSON);
        });
      }
      
      function get_messages() {
        ajax_request("/client", "getmessages", null, function(data) {
          console.log("The server sent some data!");
          console.log(data.responseJSON);
          if (data.responseJSON.header != "error") {
            chattext += data.responseJSON.data;
            $("#chat").val(chattext);
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
          }
        });
      }
      
      function refresh_users() {
        ajax_request("/client", "getusers", null, function(data) {
          $("#users option").remove();
          console.log("The server sent some data!");
          console.log(data.responseJSON);
          if (data.responseJSON.header != "error") {
            var userlist = (data.responseJSON) ? data.responseJSON.data : 0;
            if (!userlist || userlist == "error") { console.log("Error: Could not parse ajax response!"); }
            else userlist.forEach(function(username, i) {
              $("#users").append("\
                <option value=" + i + ">" + username + "</option>\
              ");
            });
          }
        });
      }
      
      $(document).ready(function() {
        $("#sendbutton").click(send_message);
        $("#chat").val(chattext);
        refresh_users();
        get_messages();
        interval = window.setInterval(get_messages, 5000);
      });
  body
    h1 Client
    #content
      a(href="/logout") logout
      table(id="unittable", border="1")
        tr
          td
            textarea(id="chat" rows="10" cols="50")
          td
            select(id="users" multiple)
        tr
          td(rowspan="2")
            input(id="inputbox")
      button(id="sendbutton") send
    #error
