doctype html
html(lang="en")
  head
    title= pageTitle
    style(type='text/css').
      
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript').
    
  body
    h1 404 Not Found
    
