doctype html
html(lang="en")
  head
    title kabdvksdajnvldsnvladsbvlsdjkbv
    style(type='text/css').
      h2 {
        font-size: 15px;
        color: #ff0000;
      }
      
  body
    h1 Login
    form(name="loginform", action="/login", method="post")
      .content Name: 
        input(name="usernameinput", value="jeremy")
      .content Password: 
        input(name="passwordinput", value="12345")
      .content
        input(type="submit", value="Login")
    h2 #{error}
